<div class="App">
  <header className="App-header">
    <%= image_tag("logo.svg", class: "App-logo") %>
    <h1 class="App-title">
      Welcome to React. This demo was modified to include &lt;POSTS&gt; module
    </h1>
  </header>
  <%= react_component("Posts") %>
</div>